.admin-articles,
.admin-layouts,
.admin-members {
  padding: 30px 0px;
}
.admin-articles__wrapper,
.admin-layouts__wrapper,
.admin-members__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-articles__heading,
.admin-layouts__heading,
.admin-members__heading {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-articles__link-box,
.admin-layouts__link-box,
.admin-members__link-box {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.admin-articles__link,
.admin-layouts__link,
.admin-members__link {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--dark-color);
  border-radius: 10px;
  gap: 10px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-articles__input,
.admin-layouts__input,
.admin-members__input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--dull-green);
  border-radius: 5px;
  color: var(--white);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin-articles__input::-moz-placeholder, .admin-layouts__input::-moz-placeholder, .admin-members__input::-moz-placeholder {
  width: 100%;
  color: var(--white);
}
.admin-articles__input::placeholder,
.admin-layouts__input::placeholder,
.admin-members__input::placeholder {
  width: 100%;
  color: var(--white);
}
.admin-articles__input:focus,
.admin-layouts__input:focus,
.admin-members__input:focus {
  outline: 2px dashed var(--white);
}
.admin-articles__list,
.admin-layouts__list,
.admin-members__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-articles__item,
.admin-layouts__item,
.admin-members__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-articles__span,
.admin-layouts__span,
.admin-members__span {
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-articles__box,
.admin-layouts__box,
.admin-members__box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.admin-articles__btn,
.admin-layouts__btn,
.admin-members__btn {
  display: block;
  padding: 5px 10px;
  background-color: var(--dull-yellow);
  border-radius: 20px;
  color: var(--black);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.admin-articles__box-link,
.admin-layouts__box-link,
.admin-members__box-link {
  display: block;
  padding: 5px 10px;
  background-color: var(--dull-yellow);
  border-radius: 20px;
  color: var(--black);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.admin-articles__empty-message,
.admin-layouts__empty-message,
.admin-members__empty-message {
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=admin-items.css.map */