@charset "UTF-8";
.admin-article-add {
  padding: 30px 0px;
  position: relative;
}
.admin-article-add__popup {
  display: none;
}
.admin-article-add__popup.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.admin-article-add__popup.active body {
  overflow: hidden;
}
.admin-article-add__popup-content {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  border-radius: 30px;
}
.admin-article-add__popup-span {
  color: var(--white);
  font-family: var(--inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-article-add__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.admin-article-add__heading {
  margin-bottom: 15px;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-article-add__link-box {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.admin-article-add__link {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--dark-color);
  border-radius: 10px;
  gap: 10px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-article-add__lable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-article-add__input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--dull-green);
  border-radius: 5px;
  color: var(--white);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin-article-add__input::-moz-placeholder {
  width: 100%;
  color: var(--white);
}
.admin-article-add__input::placeholder {
  width: 100%;
  color: var(--white);
}
.admin-article-add__input:focus {
  outline: 2px dashed var(--white);
}
.admin-article-add__first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.admin-article-add__selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.admin-article-add__selector-heading {
  display: block;
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-article-add__containers {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.admin-article-add__container {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.admin-article-add__container-description {
  display: block;
  color: var(--white);
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admin-article-add__container-btn {
  min-width: 200px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.admin-article-add__container-span {
  width: 100%;
  padding: 10px 15px;
  background: var(--grey-btns);
  border-radius: 15px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.33s;
  cursor: pointer;
}
.admin-article-add__container-items {
  width: 100%;
  position: absolute;
  top: 46px;
  left: 0;
  border-radius: 15px;
  background: var(--grey-btns);
  z-index: 3;
  transform-origin: 0 0;
  transform: rotateX(90deg);
  opacity: 0;
  transition: all 0.33s linear;
}
.admin-article-add__container-btn.active .admin-article-add__container-items {
  transform: rotateX(0deg);
  opacity: 1;
}
.admin-article-add__container-item {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 15px 20px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.33s;
  cursor: pointer;
}
.admin-article-add__send-btn {
  display: block;
  padding: 15px 20px;
  border-radius: 10px;
  background: var(--grey-btns);
  color: var(--white);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.33s;
}
.admin-article-add__panel {
  padding-bottom: 30px;
  width: 100%;
  min-height: 1000px;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 1.5fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.admin-article-add__panel-btns {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.admin-article-add__panel-btns-box {
  width: 100%;
  position: sticky; /* Делаем позицию sticky */
  top: 0; /* Привязываем к верху экрана */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.admin-article-add__panel-btn {
  width: 100%;
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  background: var(--grey-btns);
  color: var(--white);
  font-family: var(--inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.33s;
}
.admin-article-add__panel-code {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background-color: var(--dull-green);
  border-radius: 5px;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin-article-add__panel-code::-moz-placeholder {
  width: 100%;
  color: var(--white);
}
.admin-article-add__panel-code::placeholder {
  width: 100%;
  color: var(--white);
}
.admin-article-add__panel-viewing {
  font-size: 10px;
  padding: 15px;
  border-radius: 5px;
  border: var(--dull-green) 1px solid;
  background-color: var(--grey);
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}/*# sourceMappingURL=admin-item-add.css.map */