@charset "UTF-8";
@import url(./resets.css);
@import url(../accets/fonts/inter/inter.css);
@import url(../accets/fonts/nextart/nextart.css);
@import url(./Admin/AdminLayout/admin-layouts/admin-layouts.css);
@import url(./Admin/AdminLayout/admin-layout-add/admin-layout-add.css);
@import url(./Admin/AdminLayout/admin-layout-edit/admin-layout-edit.css);
@import url(./Admin/Admin-Members/admin-members/admin-members.css);
@import url(./Admin/Admin-Members/admin-member-add/admin-member-add.css);
@import url(./Admin/Admin-Members/admin-member-edit/admin-member-edit.css);
@import url(./Admin/Admin-Articles/admin-articles/admin-articles.css);
@import url(./Admin/Admin-Articles/admin-article-add/admin-article-add.css);
@import url(./Admin/Admin-Articles/admin-article-edit/admin-article-edit.css);
:root {
  --grey: #5d7279;
  --grey-fonts: #cfcfcf;
  --grey-light: #bcbcbc;
  --grey-btns: #5c5c5c;
  --dull-yellow: #cdaa51;
  --dull-green: #a6b6a9;
  --white: #ffff;
  --black: #000000;
  --dark-color: #1f1f1f;
  --inter: "Inter", sans-serif;
  --nextart: "NEXT ART", sans-serif;
}

.hljs {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

pre {
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
}

pre code {
  display: block;
  padding: 0;
  margin: 0; /* Убираем отступы для элемента code */
}

.iframe {
  margin-bottom: 16px;
  height: 500px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.content-container {
  overflow: auto;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--grey);
}

.wrapper {
  width: 100%;
  margin: 0% auto;
  padding: 0 4.17%;
}

.header {
  flex-shrink: 0;
  position: relative;
  padding: 28px 0px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 17px 50px;
  border-radius: 50px;
  background-color: var(--dull-green);
}
.header__item {
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 0.393rem + 1.34vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__burger-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: var(--white);
  border-radius: 100%;
}
.header__burger-span {
  width: 60%;
  height: 2px;
  position: absolute;
  right: 20%;
  top: 50%;
  background-color: var(--black);
  border-radius: 3px;
  transition: opacity 0.33s, transform 0.33s;
}
.header__burger-span:nth-child(1) {
  transform: translateY(-7px);
}
.header__burger-span:nth-child(3) {
  transform: translateY(7px);
}

.header.open .header__burger-span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-span:nth-child(3) {
  width: 60%;
  transform: translateY(0) rotate(-45deg);
}

.header.active .header__menu {
  background-color: #000000;
}

.logo__text {
  color: var(--dull-yellow);
  font-family: var(--nextart);
  font-size: clamp(1.75rem, 1.575rem + 0.88vw, 2.625rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.main {
  flex: 1;
}

.title {
  margin-top: 100px;
}
.title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title__heading {
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.counter {
  color: var(--grey-light);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.filter {
  padding: 40px 0px 50px 0px;
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.filter__top-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.filter__btn {
  padding: 15px 20px;
  border-radius: 30px;
  background: var(--grey-btns);
  color: var(--white);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.33s;
}
.filter__btn--active {
  background-color: var(--dull-yellow);
  color: var(--black);
}
.filter__btn:hover {
  background-color: var(--dull-yellow);
  color: var(--black);
}
.filter__bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.filter__separator {
  width: 100%;
  height: 1px;
  background-color: white;
}
.filter__bottom-open-btn {
  display: none;
  padding-left: 30px;
  background-image: url(../accets/icons/filter.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left top 50%;
  color: var(--white);
  text-align: center;
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.filter__bottom-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.filter__bottom-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.filter__bottom-item-heading {
  color: var(--white);
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.filter__bottom-item-btn {
  width: 250px;
  margin-top: 7px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 19px;
  border-radius: 30px;
  background: var(--grey-btns);
  white-space: nowrap;
}
.filter__bottom-item-text {
  color: var(--white);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.filter__menu {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  height: 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: var(--grey-btns);
  border-radius: 23px;
  padding: 20px 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.33s;
  z-index: 50;
}
.filter__menu--action {
  display: flex;
}
.filter__menu-item {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 6px 16px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.55s;
}
.filter__menu-item--active {
  padding: 6px 16px;
  color: var(--black);
  background: var(--grey-light);
  background-size: 100%;
}
.filter__menu-item--active-hover {
  background-color: var(--dull-yellow);
  color: var(--white);
}
.filter__items-btn {
  padding-bottom: 17px;
  color: var(--white);
  text-align: center;
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
  z-index: 5;
}

.filter__bottom-item.active .filter__menu {
  opacity: 1;
  visibility: visible;
  height: -moz-fit-content;
  height: fit-content;
}

.filter__bottom-item.active .filter__bottom-item-btn img {
  transform: rotate(180deg);
}

.filter__menu-item.hover {
  background-color: #000000;
  transition: all 0.5s;
}

.section__colums {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.section__heading {
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 1.375rem + 2.5vw, 4.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: sticky;
  top: 0;
  z-index: 10;
}

.about {
  margin-top: 100px;
}
.about__left-side {
  display: flex;
  align-items: start;
}
.about__right-side {
  max-width: 1145px;
  width: 100%;
  display: flex;
  align-items: start;
}
.about__texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 45px;
}
.about__text-heading {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(2.188rem, 1.825rem + 1.81vw, 4rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__text {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__item--heading {
  font-size: 64px;
}

.contacts {
  margin-top: 50px;
}
.contacts__contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contacts__heading {
  margin-bottom: 30px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(2.188rem, 1.825rem + 1.81vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contacts__container {
  margin-bottom: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contacts__form-heading {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__form-span {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__form-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.contacts__form-input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--dull-green);
  border-radius: 5px;
  color: var(--white);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__form-input::-moz-placeholder {
  width: 100%;
  color: var(--white);
}
.contacts__form-input::placeholder {
  width: 100%;
  color: var(--white);
}
.contacts__form-input:focus {
  outline: 2px dashed var(--white);
}
.contacts__form-textarea {
  width: 100%;
  height: 300px;
  padding: 10px 15px;
  background-color: var(--dull-green);
  border-radius: 5px;
  color: var(--white);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__form-textarea:focus {
  outline: 2px dashed var(--white);
}
.contacts__form-textarea::-moz-placeholder {
  width: 100%;
  color: var(--white);
}
.contacts__form-textarea::placeholder {
  width: 100%;
  color: var(--white);
}
.contacts__checkbox {
  display: none;
}
.contacts__checkbox-castom {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--dull-green);
  border: 1px solid var(--white);
}
.contacts__checkbox-castom::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 7px;
  height: 7px;
  background-color: var(--white);
  transform: translate(-50%, -50%);
  transition: 0.33s;
}
.contacts__checkbox:checked + .contacts__checkbox-castom::before {
  opacity: 1;
}
.layouts {
  margin-top: 100px;
}
.layouts__wrapper {
  width: 100%;
}
.layouts__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.layouts__card {
  padding-top: 20px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5%;
  border-top: 1px solid var(--grey-fonts);
}
.layouts__card-info {
  max-width: 50%;
  height: 100%;
}
.layouts__card-heading {
  margin-bottom: 30px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(0.938rem, 0.75rem + 0.94vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.layouts__card-description {
  margin-bottom: auto;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.layouts__card-span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--dull-yellow);
  color: var(--black);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.layouts__card-img-box {
  width: 50%;
  height: 100%;
}
.layouts__card-img {
  width: 100%;
  height: 100%;
}

.articles {
  margin-top: 100px;
  margin-bottom: 100px;
}
.articles__item {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--grey-fonts);
}
.articles__item-name {
  margin-right: auto;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 1.063rem + 0.94vw, 2.188rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.articles__item-span {
  margin-right: 30px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--dull-yellow);
  color: var(--black);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.articles__item-img {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.gallery {
  padding-bottom: 60px;
}
.gallery__wrapper {
  width: 100%;
}
.gallery__cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.gallery__card {
  position: relative;
  width: 100%;
  border-radius: 40px;
}
.gallery__card-top {
  position: relative;
  height: 570px;
  background-image: url(../accets/img/card-img.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 40px;
}
.gallery__card-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 40px;
}
.gallery__tags {
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery__tag {
  padding: 15px 20px;
  border-radius: 30px;
  background: var(--grey-btns);
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 10;
}
.gallery__tag--active {
  background: var(--dull-yellow);
  color: var(--black);
}
.gallery__tag-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery__card-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.gallery__card-name {
  color: var(--white);
  font-family: var(--inter);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.gallery__card-description {
  width: 100%;
  max-width: 300px;
  color: var(--grey-fonts);
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: normal; /* Позволяет тексту переноситься на новую строку */
  overflow-wrap: break-word; /* Перенос длинных слов */
}

.no-results-message {
  width: 100%;
  color: var(--white);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.members__top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.members__heading {
  margin-bottom: 15px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.members__subheading {
  margin-bottom: 20px;
  color: var(--grey-fonts);
  font-family: var(--nextart);
  font-size: clamp(0.938rem, 0.75rem + 0.94vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.members__cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.members__card__card {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 40px;
  min-height: 500px; /* Установите минимальную высоту для карточки */
}
.members__card-top {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.members__card-top-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.members__tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.members__tag {
  padding: 15px 20px;
  border-radius: 30px;
  background: var(--grey-btns);
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 10;
}
.members__card-bottom {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.members__card-name {
  color: var(--white);
  font-family: var(--inter);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.members__card-description {
  width: 100%;
  max-width: 350px;
  color: var(--grey-fonts);
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: normal; /* Позволяет тексту переноситься на новую строку */
  overflow-wrap: break-word; /* Перенос длинных слов */
}

.member__header {
  display: flex;
  align-items: start;
}
.member__heading {
  margin-bottom: 15px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.member__body {
  display: grid;
  grid-template-columns: 35% 60%;
  justify-content: space-between;
}
.member__body-left {
  width: 100%;
}
.member__body-img {
  margin-bottom: 30px;
  width: 100%;
}
.member__body-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.member__right-top {
  display: flex;
  align-items: start;
}
.member__right-span {
  margin-bottom: 15px;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.member__right-content {
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: space-between;
}
.member__content-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.member__content-left-heading {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.member__content-left-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.member__content-left-item {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.188rem + 0.31vw, 1.563rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}
.member__content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.member__content-right-heading {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.member__content-right-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.member__content-right-item {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.188rem + 0.31vw, 1.563rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}

.info {
  padding: 40px 0px;
}
.info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}
.info__top-link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.info__top-link-img {
  width: 32px;
  height: 32px;
}
.info__top-link-span {
  color: var(--dull-yellow);
  font-family: var(--inter);
  font-size: clamp(0.938rem, 0.825rem + 0.56vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info__bottom {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 30% 65%;
  justify-content: space-between;
  gap: 40px;
}
.info__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 32px 64px;
  background-color: var(--white);
  border-radius: 30px;
}
.info__heading {
  color: var(--black);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.info__tag {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  background-color: var(--grey-light);
  border-radius: 20px;
  color: var(--black);
  font-family: var(--nextart);
  font-size: clamp(0.938rem, 0.9rem + 0.19vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.info__links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.info__links-heading {
  color: var(--black);
  font-family: var(--nextart);
  font-size: clamp(0.938rem, 0.813rem + 0.63vw, 1.563rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.info__link {
  display: block;
  padding: 15px 20px 15px 40px;
  background-image: url(../accets/icons/figma-logo.png);
  background-position: left 5% top 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: var(--black);
  border-radius: 15px;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.info__link-live {
  display: block;
  padding: 15px 20px 15px 40px;
  background-image: url(../accets/icons/stream.svg);
  background-position: left 5% top 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: var(--white);
  border-radius: 15px;
  border: solid 1px var(--black);
  color: var(--black);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.info__skills-title {
  color: var(--black);
  font-family: var(--nextart);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info__skills {
  padding-left: 11px;
  display: block;
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.info__skill {
  color: var(--black);
  font-family: var(--nextart);
  font-size: clamp(0.75rem, 0.713rem + 0.19vw, 0.938rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info__img-box {
  border-radius: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__img {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog {
  margin-top: 30px;
}
.blog__wrapper {
  width: 100%;
  flex-direction: column;
}
.blog__top {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog__heading {
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__counter {
  color: var(--grey-light);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__span {
  color: var(--grey-light);
  font-family: var(--nextart);
  font-size: clamp(1.875rem, 0.75rem + 5.63vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__filter {
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.blog__search {
  max-width: 410px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 43px;
  background-color: var(--grey-btns);
  background-image: url(../accets/icons/search.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: top 50% left 15px;
  border-radius: 30px;
  margin-right: auto;
}
.blog__search-input {
  padding: 6px 40px;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-family: var(--inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__search-input:focus {
  outline: 2px dashed var(--white);
  outline-offset: 3px;
  border-radius: 30px;
}
.blog__filter-btn {
  display: none;
  padding-left: 30px;
  background-image: url(../accets/icons/category.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left 1%;
  color: var(--white);
  font-family: var(--inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__filter-box {
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.33s;
}
.blog__filter-reset {
  padding: 10px 20px;
  background-color: var(--grey-btns);
  border-radius: 20px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__filter-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.blog__filter-tag {
  padding: 10px 20px;
  background-color: var(--grey-btns);
  border-radius: 20px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.blog__filter-tag.active {
  background-color: var(--dull-yellow);
  color: var(--black);
}
.blog__articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.blog__articles-span {
  display: none;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__articles-span.active {
  display: block;
}
.blog__article {
  width: 100%;
  padding: 28px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.blog__article-heading {
  margin-right: auto;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__article-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog__article-date {
  color: var(--dull-green);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__article-author {
  color: var(--dull-green);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog__article-tag {
  padding: 10px 20px;
  background-color: var(--dull-yellow);
  border-radius: 20px;
  color: var(--black);
  font-family: var(--inter);
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article__content {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
  gap: 30px;
}
.article__link-back {
  display: block;
  margin-bottom: 32px;
  background-image: url(../accets/icons/left-arrow.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center left 0;
  color: var(--dull-yellow);
  padding-left: 45px;
  font-family: var(--inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__left {
  display: flex;
  flex-direction: column;
}
.article__top {
  display: flex;
  flex-direction: column;
}
.article__heading {
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(2.188rem, 1.75rem + 2.19vw, 4.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__info {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.article__tag {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--grey-btns);
  border-radius: 20px;
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__date {
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__author {
  color: var(--white);
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__author-name {
  text-decoration: underline;
}
.article__body {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.article__text {
  margin-bottom: 16px;
  width: 100%;
  max-width: 780px;
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}
.article__text--bold {
  margin-bottom: 16px;
  border-radius: 10px;
  padding: 5px;
  white-space: nowrap;
  background: var(--dull-green);
  color: var(--black);
  font-family: var(--inter);
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}
.article__text--link {
  border-bottom: 1px solid currentColor;
  color: var(--dull-yellow);
  transition: color 0.3s;
  cursor: pointer;
}
.article__subheading {
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 0.875rem + 1.88vw, 3.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__right {
  height: 100%;
  display: block;
}
.article__right-content {
  position: sticky;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 355px;
  padding: 30px;
  background-color: var(--dull-green);
  border-radius: 50px;
}
.article__right-box {
  display: flex;
  flex-direction: column;
}
.article__right-span {
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 0.875rem + 1.88vw, 3.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.article__right-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.article__right-item {
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(0.938rem, 0.75rem + 0.94vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.entrance {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.entrance__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entrance__error-span {
  display: none;
  color: var(--black);
  font-family: var(--nextart);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.entrance__error-span.active {
  display: block;
}
.entrance__heading {
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 0.875rem + 1.88vw, 3.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.entrance__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entrance__label {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.entrance__label-span {
  padding-left: 10px;
}
.entrance__input {
  width: 300px;
  height: 40px;
  padding: 10px;
  background-color: #bcbcbc;
  border-radius: 20px;
  color: var(--black);
  font-family: var(--nextart);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.entrance__btn {
  padding: 10px 15px;
  background-color: var(--dark-color);
  border-radius: 20px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.content__heading {
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--nextart);
  font-size: clamp(1.25rem, 0.875rem + 1.88vw, 3.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content__list-item {
  color: var(--white);
  font-family: var(--nextart);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.33s;
}
.content__list-item:hover {
  color: var(--dull-yellow);
}

.footer {
  flex-shrink: 0;
  padding-bottom: 20px;
}
.footer__separator {
  margin-bottom: 60px;
  width: 100%;
  height: 1px;
  background-color: white;
}
.footer__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__logo-text {
  font-size: clamp(2rem, 1.875rem + 0.63vw, 2.625rem);
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 41px;
}
.footer__menu-item {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 0.975rem + 1.38vw, 2.625rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__copyrigth {
  color: var(--white);
  font-family: var(--inter);
  font-size: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1880px) {
  .header__menu {
    padding: 12px 25px;
  }
}
@media (max-width: 1800px) {
  .blog__filter {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .blog__filter-btn {
    display: block;
  }
  .blog__filter-box {
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    transition: all 0.33s;
  }
  .blog__filter-box.active {
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
    visibility: visible;
    height: fit-content;
    z-index: -10;
    transition: all 0.33s;
  }
}
@media (max-width: 1600px) {
  .gallery__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .members__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1400px) {
  .header__wrapper {
    gap: 0;
  }
  .header__menu {
    padding: 40px;
    gap: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    visibility: visible;
    transform: translateX(-100%);
    opacity: 1;
    z-index: 999;
    border-radius: 0px 50px 50px 0px;
    transition: 0.5s;
    z-index: 99;
  }
  .header__item {
    font-size: 24px;
  }
  .header__burger-btn {
    display: flex;
  }
  .header.open .header__menu {
    transform: translateX(0%);
  }
  .info {
    padding: 10px 0px 30px 0px;
  }
  .info__bottom {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .info__img-box {
    display: none;
  }
  .info__content {
    padding: 30px 20px;
  }
  .blog__filter {
    padding: 30px 0px 0px 0px;
  }
}
@media (max-width: 1280px) {
  .article__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    justify-content: space-between;
    gap: 30px;
  }
  .article__right {
    display: none;
  }
  .member__body {
    grid-template-columns: 100%;
  }
  .footer__separator {
    margin-bottom: 30px;
  }
  .footer__content {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .title {
    margin-top: 10px;
  }
  .title__wrapper {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 1024px) {
  .section__colums {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .section__colum {
    row-gap: 20px;
  }
  .about {
    margin-top: 45px;
  }
  .about__texts {
    gap: 15px;
  }
  .about__text {
    gap: 20px;
  }
  .layouts {
    margin-top: 30px;
  }
  .layouts__card-span {
    padding: 10px 15px;
  }
  .layouts__card-heading {
    margin-bottom: 15px;
  }
  .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .members__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .member__right-content {
    grid-template-columns: 100%;
    gap: 30px;
  }
  .contacts {
    margin-top: 15px;
  }
}
@media (max-width: 900px) {
  .blog__article {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .header .header__menu {
    width: 60%;
  }
  .filter__bottom-items {
    display: none;
  }
  .filter__items-btn {
    display: none;
  }
  .filter__bottom-open-btn {
    display: block;
  }
  .filter.open .filter__bottom-items {
    display: flex;
  }
  .filter.open .filter__items-btn {
    display: flex;
  }
  .gallery__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .members__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__menu {
    grid-template-columns: repeat(2, 150px);
  }
  .blog__search {
    min-width: 100%;
    width: 100%;
    margin-right: 0;
  }
  .blog__filter {
    flex-direction: column;
    gap: 15px;
  }
  .hljs {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .header .header__menu {
    width: 60%;
  }
  .footer__menu {
    grid-template-columns: repeat(2, 120px);
  }
  .hljs {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .header .header__menu {
    width: 80%;
  }
  .hljs {
    font-size: 7px;
  }
}/*# sourceMappingURL=style.css.map */